div.nav {
    display: flex !important;
    justify-content: space-between !important;
    padding: 0 3rem;
    margin: 3rem !important;
}

div.nav a {
    color: #3c3461;
    font-weight: bold;
}

h4.ui.header {
    margin: 0;
}

button.button.drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 900 !important;
    border: none;
    background-color: white;
}

button.button.drop .userAvatar {
   margin-right: 1.5rem;
}

.appToolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.menuItem {
    padding: 1rem 2.5rem;
    font-size: 15px;
}

li.menuItem i {
    margin-right: 1rem;
}

li.menuItem.last {
    border-top: 1px solid gray;
    color: red;
}