div.app_wrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.signup_wrap {
  max-width: 70rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
}

.back{
    margin-bottom: 3rem;
    font-size: 16px;
    color: skyblue;
}

.home-title p{
    font-size: 16px;

}

div.card.home-card{
    width: 100% !important;
}

div.profile_header{
    width: 100%;
    padding: 4rem;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}

div.profile_title .form-control{
    padding: 1.5rem 2rem;
    border-radius: 1rem;
}

button.update_btn {
    font-size: 16px;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
}